*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
/* nav bar start */
.nav{
    height: 16vh;
    width: 100%;
    background-color: black;
    color: #fff;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.nav img{
    height: 16vh;
    width: 8vw;
    padding: 10px;
    border-radius: 50%;
}
.nav ul{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-top: 7vh;
}
.nav ul .active{
    color: yellow;
    height: 20px;
    background-color: transparent;
}
.nav ul .active:hover{
    color: red;
    cursor: pointer;
}
.nav ul li{
    list-style: none;
    margin-left: 20px;
}
.nav ul li a{
    text-decoration: none;
    color: #fff;
    transition: all 1s ease;
}
.nav ul li a:hover{
    text-decoration: underline;
    color: yellow;
    transform: scale(1.04);
}
.nav #search{
    height: 8vh;
    width: 30vw;
    margin-left: 20px;
    margin-top: 30px;
    outline: none;
    border: none;
    padding: 10px;
    font-size: 18px;
    border-radius:9px
}
.nav #search::placeholder{
    font-size: 16px;
    padding:10px
}
.nav button{
    height: 40px;
    width: 100px;
    margin-top: 34px;
    margin-left: 15px;
    font-size: 17px;
    outline: none;
    border: none;
    border-radius: 8px;
    transition: all 1s ease;
}
.nav button a{
    text-decoration: none;
    color: #000;
  }
  .nav button a:hover{
    color: #fff;
  }
.nav button:hover{
    background-color: red;
    color: #fff;
    outline: none;
    border: none;
    cursor: pointer;
}
/* nav bar end */

/* contact 1 */
.container1{
    height: 84vh;
    width: 100%;
    /* background-color: red; */
    position: relative;
    filter: grayscale(1.9);
    /* margin-top: 3px; */
}
.container1 img{
    height: 84vh;
    width: 100%;
    position: relative;
    filter: blur(4px);
}
.container2{
    position: absolute;
    top: 42%;
    height: 40vh;
    width:50%;
    background-color: wheat;
    border-radius: 12px;
    margin-left: 20px;
    /* background-color: red; */

}
.container2 h2{
    text-align: center;
    font-size: 40px;
    text-decoration: underline;
}
.container2 button{
    padding: 10px;
    margin-left: 10%;
    margin-top: 40px;
    border:none;
    outline: none;
    background-color: red;
    color: #fff;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}
.container2 button:hover{
    background-color: black;
    color: #fff;
    cursor: pointer;
}
.container2 button a{
    text-decoration: none;
    color: #fff;
    font-size: 19px;
}
.container2 #one{
    margin-left: 190px;
}
